<a href="https://colab.research.google.com/github/digipatil0068/DATA-VISUALATION/blob/main/functions_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
l1=[2,3,4,5,6,7,8]

for i in l1:
  print(i*i)

4
9
16
25
36
49
64

In [ ]:
l1=[3,4,5,67,7,6,78,66,5,12,14]

for i in l1:
  if i%2==0:
    print(i)

else:
    pass

4
6
78
66
12
14

In [ ]:
l1=[3,4,5,67,7,6,78,66,5,12,14]

count=0 # counter

for i in l1:
  if i%2==0:
    count=count+1
print('the total namber of even numbers in the list are',count)

the total namber of even numbers in the list are 6

In [ ]:
l1=[3,4,5,67,7,6,78,66,5,12,14]

count_even=0 # counter
count_odd=0
for i in l1:
  if i%2==0:
    count_even=count_even+1
  else:
    count_odd=count_odd+1
print('the total namber of even numbers in the list are',count_even)

print('the total namber of odd numbers in the list are',count_odd)

the total namber of even numbers in the list are 6
the total namber of odd numbers in the list are 5

In [ ]:
no=int(input("enter the number"))

for i in range(1,11):
  print(no*i)

enter the number45
45
90
135
180
225
270
315
360
405
450

In [ ]:
no=int(input("enter the number"))
sum=0
avg=0

for i in range(1,no+1):
  sum=sum+i
  avg=sum/no
print(sum)
print(avg)

enter the number10
55
5.5

In [ ]:
for i in range (1,11):
  if i==3 or i==7:
    continue
  print (i)

1
2
4
5
6
8
9
10

In [ ]:
#l1=[2,3,4,5,6,7,8]
l2=[]

for i in range(1,11):
   square=i*i
   l2.append(square)

print(l2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Built in Functions

In [ ]:
a= abs(-10.75)

In [ ]:
  a

10.75

In [ ]:
# len
list1=['I','N','D','I','A']
x= len(list1)
x

5

In [ ]:
#all
my_list=[1,1,2,78]
x=all(my_list)
x

True

In [ ]:
# sum
s=sum([20,35,70,80])
s1=sum((7,4,-23,45))
print(s)
print(s1)

205
33

In [ ]:
# max and min
m1=max(7,10,3,12,61,40)
print(m1)

61

In [ ]:
m2=min([34,34,235,-343])
print(m2)

-343

In [ ]:
#iter()
l1=iter(['I','N','D','I','A'])
x=next(l1)
print(x)

I

In [ ]:
x=next(l1)
print(x)

N

In [ ]:
x=next(l1)
print(x)

D

In [ ]:
#Pow()
x1=pow(3,3)
x2=pow(2,4)
print(x1)
print(x2)

27
16

In [ ]:
#range()
x= range(10)
for n in x:
  print(n)

0
1
2
3
4
5
6
7
8
9

In [ ]:
x= range(10,50,3)
for n in x:
  print(n)

10
13
16
19
22
25
28
31
34
37
40
43
46
49

In [ ]:
#sorted()
a=['i','n','d','a']
x=sorted(a)
print(x)

['a', 'd', 'i', 'n']

In [ ]:
a=['i','n','d','a']
x=sorted(a,reverse= True)
print(x)

['n', 'i', 'd', 'a']

In [ ]:
a=[2,5,3,5,543,56,25,4,1,6,4]
x=sorted(a,reverse=True)
print(x)

[543, 56, 25, 6, 5, 5, 4, 4, 3, 2, 1]

In [ ]:
#slice()
a=("s","d","r","e","y","w","t")
x=slice(5)
print(a[x])

('s', 'd', 'r', 'e', 'y')

In [ ]:
#user defined function
def func1():
  print("Hello World")

func1()

Hello World

In [ ]:
def hello():
  name=str(input("Enter your country name:"))
  print("Hello"+str(name))

In [ ]:
hello()

Enter your country name: USA
Hello USA

In [ ]:
def ft_to_cm(ft):
  centimeter = ft * 30.48
  return centimeter

In [ ]:
ft_to_cm(4)

121.92