<a href="https://colab.research.google.com/github/digipatil0068/DATA-VISUALATION/blob/main/ML_Project_House_Price_Prediction_linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ML - Linear Regression
Step 1 - Gathering the data

In [ ]:
#loading and reading the dataset

import numpy as np
import pandas as pd

data1=pd.read_csv('/content/Housing (1).csv')

In [ ]:
data1.head(5) #shows data rows

#here price (y axis) is the dependent variable which need to be predicted and all other are independent variables (x)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [ ]:
data1.furnishingstatus

0           furnished
1           furnished
2      semi-furnished
3           furnished
4           furnished
            ...
540       unfurnished
541    semi-furnished
542       unfurnished
543         furnished
544       unfurnished
Name: furnishingstatus, Length: 545, dtype: object

In [ ]:
data1.info() #basic details of data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [ ]:
data1.describe() #stat about data

,price,area,bedrooms,bathrooms,stories,parking
count,5.450000e+02,545.000000,545.000000,545.000000,545.000000,545.000000
mean,4.766729e+06,5150.541284,2.965138,1.286239,1.805505,0.693578
std,1.870440e+06,2170.141023,0.738064,0.502470,0.867492,0.861586
min,1.750000e+06,1650.000000,1.000000,1.000000,1.000000,0.000000
25%,3.430000e+06,3600.000000,2.000000,1.000000,1.000000,0.000000
50%,4.340000e+06,4600.000000,3.000000,1.000000,2.000000,0.000000
75%,5.740000e+06,6360.000000,3.000000,2.000000,2.000000,1.000000
max,1.330000e+07,16200.000000,6.000000,4.000000,4.000000,3.000000

Step 2 - Data Cleaning/Data preprocessing/Data wrangling - we make data suitable enough to create ML model - it will have good accuracy and performance.

If we observe the data, there are some categorial data points - ML algo not able to understand categorial variables, still we cannot drop these columns because there are important - so we will be doing technique called 'ONE HOT ENCODING' to convert categorial variables to numerical variables.

In [ ]:
# ONE HOT ENCODING to convert categorial variables to numerical variables. - column wise
data1['mainroad']=data1['mainroad'].apply({'yes':1,'no':0}.get) #we have assigned numerical values to identify categorial values - creating dictionary to do this - key value pair
data1['guestroom']=data1['guestroom'].apply({'yes':1,'no':0}.get)
data1['basement']=data1['basement'].apply({'yes':1,'no':0}.get)
data1['hotwaterheating']=data1['hotwaterheating'].apply({'yes':1,'no':0}.get)
data1['airconditioning']=data1['airconditioning'].apply({'yes':1,'no':0}.get)
data1['prefarea']=data1['prefarea'].apply({'yes':1,'no':0}.get)
data1['furnishingstatus']=data1['furnishingstatus'].apply({'unfurnished':0,'semi-furnished':1,'furnished':2}.get)

In [ ]:
data1.head(10)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,2
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,2
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,1
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,2
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,2
5,10850000,7500,3,3,1,1,0,1,0,1,2,1,1
6,10150000,8580,4,3,4,1,0,0,0,1,2,1,1
7,10150000,16200,5,3,2,1,0,0,0,0,0,0,0
8,9870000,8100,4,1,2,1,1,1,0,1,2,1,2
9,9800000,5750,3,2,4,1,1,0,0,1,1,1,0

Step 3- Divide the data into dependent (y axis) and independent (x axis) variables

In [ ]:
# we can consider these variables in list
x=data1[['area','bedrooms','bathrooms','stories','mainroad','guestroom','basement','hotwaterheating','airconditioning','parking','prefarea','furnishingstatus']] #independent variables
y=data1['price'] #dependent variable

In [ ]:
x.head()

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,7420,4,2,3,1,0,0,0,1,2,1,2
1,8960,4,4,4,1,0,0,0,1,3,0,2
2,9960,3,2,2,1,0,1,0,0,2,1,1
3,7500,4,2,2,1,0,1,0,1,3,1,2
4,7420,4,1,2,1,1,1,0,1,2,0,2

In [ ]:
y.head()

0    13300000
1    12250000
2    12250000
3    12215000
4    11410000
Name: price, dtype: int64

Step 4 - Split the data into training and testing. with the help of sklearn library

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1)

In [ ]:
x_train.shape

(490, 12)

In [ ]:
y_train.shape

(490,)

In [ ]:
x_test.shape

(55, 12)

In [ ]:
y_test.shape

(55,)

Step 5 - Creating ML model by using Linear Regression algorithm.

In [ ]:
from sklearn.linear_model import LinearRegression
lregression=LinearRegression() #variable assigned

In [ ]:
lregression.fit(x_train,y_train) #Train the ML model by providing x_train and y_train as input variables.

LinearRegression()

In [ ]:
pred=lregression.predict(x_test) #predict the price on test data

In [ ]:
pred

array([4232459.72912815, 2920128.37891498, 6176618.74868223,
       6415501.85254629, 4613117.31501158, 2939651.67992901,
       6597461.98831   , 5079558.77635168, 4309791.91136059,
       3612904.16972918, 6493570.2419341 , 3981075.42700168,
       3527379.87213379, 2886559.61640284, 5871439.39492043,
       4023341.36650692, 7194023.49145531, 5094997.3797658 ,
       3774189.71470973, 3160156.87198148, 4579347.64350944,
       4033775.9403823 , 3345690.13117007, 6462538.30604052,
       4372476.52368079, 3676258.32523978, 7786285.05352427,
       5993636.36673178, 3184617.03110018, 3781168.33432266,
       3944151.82797994, 4293150.2754454 , 4071376.77071668,
       4311561.8427907 , 3256838.19091057, 6458749.59227186,
       5057116.55030845, 6248378.97942026, 3459177.75697988,
       4790585.36757378, 2934989.63510113, 5034713.11045656,
       6566834.54656865, 6829141.52829774, 4943083.23609079,
       5610894.04543183, 2666698.97507289, 4192680.06103082,
       4418097.20842814, 6960476.330142  , 4937261.36058366,
       3882973.54858464, 5835433.92908697, 2373951.37052388,
       4323357.1782704 ])

In [ ]:
lregression.score(x,y) #check the accuracy by passing 100% of data - 67.93% accuracy

0.6798052800209249

In [ ]:
##lets take a new data from user and predict the price of the house.

print('Enter below details to get approximate price of the house.')
area=int(input('Area of the house: '))
bedrooms=int(input('No of Bedrooms: '))
bathrooms=int(input('No of Bathrooms: '))
stories=int(input('No of Stories: '))
mainroad=str.lower(input('Is it near mainroad, Yes or No?: '))
guestroom=str.lower(input('Guestroom, Yes or No?: '))
basement=str.lower(input('Basement, Yes or No?: '))
hotwaterheating=str.lower(input('Hot Water Heater, Yes or No?: '))
airconditioning=str.lower(input('Airconditioner, Yes or No?: '))
parking=int(input('No of parking spaces: '))
prefarea=str.lower(input('Prefarea, Yes or No?: '))
furnishingstatus=str.lower(input('Furniture, furnished/semi-furnished/unfurnished?: '))

new_datadict={'area':area,'bedrooms':bedrooms,'bathrooms':bathrooms,'stories':stories,'mainroad':mainroad,'guestroom':guestroom,'basement':basement,'hotwaterheating':hotwaterheating,'airconditioning':airconditioning,'parking':parking,'prefarea':prefarea,'furnishingstatus':furnishingstatus}

index=[1]
new_df1=pd.DataFrame(new_datadict,index)

new_df1['mainroad']=new_df1['mainroad'].apply({'yes':1,'no':0}.get)
new_df1['guestroom']=new_df1['guestroom'].apply({'yes':1,'no':0}.get)
new_df1['basement']=new_df1['basement'].apply({'yes':1,'no':0}.get)
new_df1['hotwaterheating']=new_df1['hotwaterheating'].apply({'yes':1,'no':0}.get)
new_df1['airconditioning']=new_df1['airconditioning'].apply({'yes':1,'no':0}.get)
new_df1['prefarea']=new_df1['prefarea'].apply({'yes':1,'no':0}.get)
new_df1['furnishingstatus']=new_df1['furnishingstatus'].apply({'unfurnished':0,'semi-furnished':1,'furnished':2}.get)


prediction=lregression.predict(new_df1)
print('Approximate price of the house for provided details will be: ','$',int(prediction))

Enter below details to get approximate price of the house.