<a href="https://colab.research.google.com/github/digipatil0068/DATA-VISUALATION/blob/main/python_programs_and_pass%2C_continue%2Cbreak_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

How many times the loop is going to get executed

In [ ]:
c=0

while c<20:
  c=c+2

Print first ten numbers

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

Take a list of your choice and display the elements one by one

In [ ]:
l1=[4,5,6,2,'India','Israel',5,9,3]

for i in l1:
  print(i)

4
5
6
2
India
Israel
5
9
3

Take a list of numbers and square all the elements given in the list

In [ ]:
l1=[2,3,4,5,8,7,6]

for i in l1:
  print(i*i)

4
9
16
25
64
49
36

Take a list of numbers and append the squares in a separate list

In [ ]:
#l1=[2,3,4,5,8,7,6]
l2=[] #empty list

for i in range(1,6):
  square=i*i
  l2.append(square)

print(l2)

[1, 4, 9, 16, 25]

In [ ]:
l=[1,2,3,4,5,6,7]
l1=[]
for i in l:
  square=i**2
  l1.append(square)
print(l1)

[1, 4, 9, 16, 25, 36, 49]

Take a list of numbers and display all the even numbers from the list

In [ ]:
l1=[42,59,81,23,78,34,99,45,67,23,34,66]

for i in l1:
  if i%2==0:
    print(i)

42
78
34
34
66

Take a list of numbers and display the count of even numbers

In [ ]:
l1=[42,59,81,23,78,34,99,45,67,66]

count=0 #counter

for i in l1:
  if i%2==0:
    count=count+1 #if there is an even number, the counter will increment itself by 1

  else:
    pass
print('the total number of even numbers in the list are',count)

the total number of even numbers in the list are 4

Take a list of numbers and display the count of both even and odd numbers

In [ ]:
l1=[42,59,81,23,78,34,99,45,67,66]

count_even=0
count_odd=0

for i in l1:
  if i%2==0:
    count_even=count_even+1

  else:
    count_odd=count_odd+1

print('the total number of even numbers in the list are',count_even)
print('the total number of odd numbers in the list are',count_odd)

the total number of even numbers in the list are 4
the total number of odd numbers in the list are 6

Take a number as input from the user and display the multiplication table (till 10) for that number

In [ ]:
num=int(input("enter a number"))

for i in range(1,11):
  print(num*i)

enter a number2
2
4
6
8
10
12
14
16
18
20

Calculate the sum and average of all numbers from 1 to a given number by the user

In [ ]:
n=int(input("enter a number"))
sum=0
for i in range(1,n+1):
  sum=sum+i
print("sum of the numbers is",sum)
print("average of the numbers is",sum/n)

enter a number5
sum of the numbers is 15
average of the numbers is 3.0

Statements

1. PASS

2. BREAK

3. CONTINUE

In [ ]:
#pass - it makes the code segment inactive
x=int(input("enter a number"))
y=int(input("enter a number"))

if x>y:
  print("x is greater")

else:
  pass #if y>x then no output

enter a number10
enter a number20

In [ ]:
#break - forcebly come out of the loop
fruits=['mango','apple','pineapple','guava','grapes']

for i in fruits:
  if i=='pineapple':
    break

  print(i)

mango
apple

In [ ]:
name='Indian Ocean'

for i in name:
  if i=='O':
    break

  print(i)

I
n
d
i
a
n

In [ ]:
#continue - the element which is in the condition gets skipped but the loop will not stop iterating
fruits=['mango','apple','pineapple','guava','grapes']

for i in fruits:
  if i=='pineapple':
    continue

  print(i)

mango
apple
guava
grapes

In [ ]:
name='Indian Ocean'

for i in name:
  if i=='O':
    continue #O will be skipped and iteration will resume from 'c' onwards

  print(i)

I
n
d
i
a
n

c
e
a
n

Display all the numbers between 1 to 10 except 3 or 7

In [ ]:
for i in range(1,11):
  if i==3 or i==7:
    continue
  print(i)

1
2
4
5
6
8
9
10

In [ ]:
n=[1,2,3,4,5,6,7,8,9,10]

for i in n:
  if i==3 or i==7:
    continue

  print(i)

1
2
4
5
6
8
9
10

In [ ]:
name=["satya","pooja","aashi","mahesh"]
for i in name:
  if i=="pooja":
    continue
  print(i)

satya
aashi
mahesh

In [ ]:
P1=int(input('enter number of Items'))
p2=200*P1 #price
if p2>=2000:
  discount=0.2*p2
  print("after giving 20% of discount, the discount rate is",discount)

else:
  print(p2)

enter number of Items11
after giving 20% of discount, the discount rate is 440.0