<a href="https://colab.research.google.com/github/digipatil0068/DATA-VISUALATION/blob/main/python_Assingment7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Create a function which adds any given two numbers

In [ ]:
def add(a,b):

  c=a+b

  print(c)

In [ ]:
add(5,7)

12

In [ ]:
add(-5,9)

4

In [ ]:
add(6,8)

14

In [ ]:
add(7,8,9)

TypeError: ignored

Create a function which adds any given three numbers

In [ ]:
def sum(a,b,c):

  s=a+b+c

  print(s)

In [ ]:
sum(3,4,5)

12

In [ ]:
sum(67,89,44)

200

In [ ]:
sum(45,96)

TypeError: ignored

In [ ]:
sum(7,9,4)

20

Create a function which displays whole number output of division operation on 2 numbers

In [ ]:
def div(a,b):

  d=a//b #whole number as output

  print(d)

In [ ]:
div(7,3)

2

In [ ]:
div(7,3.2)

2.0

Create a function which displays addition, subtraction, multiplication and division of 2 numbers

In [ ]:
def compute(a,b):

  p=a+b
  q=a-b
  r=a*b
  s=a/b

  print(p,q,r,s)

In [ ]:
compute(12,5)

17 7 60 2.4

In [ ]:
def calc(a,b):

  s=a+b
  p=a-b
  d=a*b
  k=a/b

  print(s)
  print(p)
  print(d)
  print(k)

In [ ]:
calc(6,7)

13
-1
42
0.8571428571428571

Create a function which takes name and age from the user and display the age of the person

In [ ]:
def info(name, age):
  print("Hi, your age is",age)

In [ ]:
info("Ravi",45)

Hi, your age is 45

In [ ]:
info("Meera",27)

Hi, your age is 27

In [ ]:
def info_new(name, age):
  print("Hi", name,"your age is",age)

In [ ]:
info_new("Meera",27)

Hi Meera your age is 27

Create a function which takes name and salary as input from the user and display the name and salary of the person.

In case the salary is not mentioned, take default salary as 15,000

In [ ]:
def data(name, salary=15000):
  print("Hi",name,"your current salary is",salary,"per month")

In [ ]:
data('Rahul',60000)

Hi Rahul your current salary is 60000 per month

In [ ]:
data('Keshav',)

Hi Keshav your current salary is 15000 per month

Create a function which adds all the elements given in a list of numbers

In [ ]:
def add_num(numbers):
  sum=0

  for i in numbers:
    sum=sum+i

  print(sum)

In [ ]:
add_num((2,3,4,5))

14

In [ ]:
add_num((3,-4,7,9))

15

In [ ]:
def add_num(numbers):
  sum=0
  for i in numbers:
    sum=sum+i

  print(sum)

add_num((2,7,8,9))

26

In [ ]:
add_num([6,7,8])

21

Create a function which displays the largest number out of three given numbers

In [ ]:
def max(a,b,c):

  if a>b and a>c:
    print("a is greatest")

  elif b>a and b>c:
    print("b is greatest")

  else:
    print("c is greatest")

In [ ]:
max(3,4,7)

c is greatest

Create a function which computes area and circumference of a circle

In [ ]:
#circumference = 2*pi*r
#area = pi*r^2

def area_circle(r):

  area=3.14*r**2
  circum=2*3.14*r

  print(circum)
  print(area)

In [ ]:
area_circle(5)

31.400000000000002
78.5

Create a function which computes area and perimeter of a rectangle

In [ ]:
#area = l*b
#perimeter = 2(l+b)

def rect_info(a,b):
  Area= a*b
  Perimeter= 2*(a+b)
  print(Area)
  print(Perimeter)

In [ ]:
rect_info(10,8)

80
36


Create a function which displays all the even numbers given in the list of numbers in a new separate list

In [ ]:
def even(numbers):
  elist=[] #empty list which will hold all even numbers from the list of numbers

  for i in numbers:
    if i%2==0:
      elist.append(i)

  print(elist)

In [ ]:
even([3,4,5,2,7,9,6])

[4, 2, 6]