<a href="https://colab.research.google.com/github/digipatil0068/DATA-VISUALATION/blob/main/python_class8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Create a function which counts the number of vowels and consonants in a given word

Vowels - a,e,i,o,u

Consonants - rest other alphabets

In [ ]:
def count(word):
  vowel_counter=0
  consonant_counter=0

  for i in word:
    if i in ('a','A','e','E','i','I','o','O','u','U'):
      vowel_counter=vowel_counter+1

    else:
      consonant_counter=consonant_counter+1

  print("number of vowels", vowel_counter)
  print("number of consonants",consonant_counter)

In [ ]:
count("India")

number of vowels 3
number of consonants 2

In [ ]:
count("United States")

number of vowels 5
number of consonants 8

In [ ]:
count("India")

no of vowel 3
no of cons 2

Types of argument

1. Default arguments

2. Arbitrary arguments

3. Keyword arguments

4. Arbitrary keyword arguments

Default arguments

Create a function which greets "Good morning" to the customer by using his/her name.

Incase the name is not provided, call the customer by the name "User"

In [ ]:
def func(name='User'):
  print("Good morning",name)

In [ ]:
func("Meera")

Good morning Meera

In [ ]:
func("Rahul")

Good morning Rahul

In [ ]:
func()

Good morning User

Arbitrary arguments

1. Here the number of parameters are unknown to us

2. In order to accept any number of parameters from the user, we use * symbol along with the name of the parameter

3. Arbitrary arguments are also called as *args

In [ ]:
def func1(*child):
  print("Youngest child is",child[2])

In [ ]:
func1("Ram","Shyam","Mohan","Maadhav","Riya")

Youngest child is Mohan

In [ ]:
func1("George","John","Mike")

Youngest child is Mike

In [ ]:
def greet(*names):
    print("Good morning",names)

In [ ]:
greet("Ravi","Rahul","Suman")

Good morning ('Ravi', 'Rahul', 'Suman')

Keyword arguments

1. Here the number of parameters are known to us

2. While calling the function, we provide the input in the form of key value pair

3. Order of parameter does not play a role while defining also while calling

In [ ]:
def func2(child3, child1, child2):
  print("youngest child is",child3)

In [ ]:
func2(child1='Ram',child2='Shyam',child3='Meera')

youngest child is Meera

In [ ]:
def func2(third, first, second):
  print("youngest child is",third)

In [ ]:
func2(first='Ram',second='Shyam',third='Meera')

youngest child is Meera

In [ ]:
func2(second='Shyam',first='Ram',third='Meera')

youngest child is Meera

Arbitrary keyword arguments

1. Here the number of parameters are unknown to us

2. While calling the function, we provide the input in the form of key value pair

3. We use ** symbol along with the name of the parameter

4. Arbitrary keyword arguments are also called **kwargs

In [ ]:
def func3(**names):
  print("His last name",names['lname'])

In [ ]:
func3(fname='Aashutosh',mname='Kumar',lname='Mishra')

His last name Mishra

In [ ]:
func3(fname='Abhishek',lname='Singh')

His last name Singh

In [ ]:
func3(fname='Kunal',lname='NONE')

His last name NONE

Recursion

Create a function which calculates the factorial of a number

In [ ]:
def factorial(n):

  if n<0:
    print(0)

  elif n==1 or n==0:
    print(1)

  else:
    fact=1
    while n>1:
      fact=fact*n
      n=n-1
    print(fact)

In [ ]:
factorial(5)

120